html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #a0ddff;
    margin-left: 5px;
}

.menu {
    margin-top: 40px;
    list-style: disc;
}

.friend {
    font-style: italic;
}

.profileInfo {
    font-weight: bold;
}