html {
    font-family: "tahoma", "arial", "helvetica", "sans-serif";
    background-color: #183A60;
}

#container {
    position: relative;
    width: 879px;
    height: 550px;
    background-color: #EEEEEE;
    border: 1px solid black;
    margin: auto;
}

#header {
    color: #183A60;
    margin-left: 20px;
}

div#container span:nth-child(2) {
    margin-left: 20px;
    font-size: 14px;
    color: #6b6b6b;
}

#register {
    height: 370px;
    width: 383px;
    margin-left: 25px;
    margin-top: 35px;
}

#login {
    position: absolute;
    background-color: #183A60;
    top: 88px;
    left: 430px;
    display: inline-block;
    height: 370px;
    width: 383px;
    margin-left: 5px;
    margin-top: 35px;
}

#new {
    color: #606060;
}

#registered {
    color: white;
    margin-left: 10px;
}

div#register a:nth-child(1):link {
    text-decoration: none;
    color: #183A60;
}

div#register a:nth-child(1):visited {
    color: #183A60;
}

.forms {
    width: 339px;
    height: 39px;
    margin-bottom: 22px;
    padding-left: 10px;
}

#button {
    width: 166px;
    height: 36px;
    float: right;
    margin-right: 30px;
    background-color: #EEEEEE;
    color: #183A60;
    font-weight: bold;
    border: 2px solid #183A60;
    cursor: pointer;
}

#button:hover {
    background-color: #183A60;
    color: #EEEEEE;
}

#login-button {
    width: 137px;
    height: 37px;
    float: right;
    margin-right: 20px;
    background-color: #183A60;
    color: #FFFFFF;
    font-weight: bold;
    border: 2px solid #FF9C00;
    cursor: pointer;
}

#login-button:hover {
    background-color: #FF9C00;
    color: #EEEEEE;
}

div#login input {
    margin-left: 10px;
}

div#login form label{
    color: white;
    font-size: 14px;
    vertical-align: top;
}

#pass-forgot {
    margin-left: 245px;
    margin-top: 25px;
}

div#pass-forgot a:link {
    color: white;
    font-size: 13px;
}

div#pass-forgot a:visited {
    color: white;
    font-size: 13px;
}