.container {
    background-image:url(../img/Theme.png);
    background-repeat:no-repeat;
    width: 1366px;
    height: 634px;
    margin-left: -8px;
    margin-top: -20px;
}

.title {
    color: #F6C763;
    margin-left: 2%;
    padding-top: 4%;
    font-family: sans-serif;
}

.tags {
    color: #FDD964;
    font-size: 30px;
    font-family: sans-serif;
}

ul {
    list-style-type: square;
    color: #ffbd34;
    font-family: sans-serif;
    margin-left: 2%;
    font-size: 25px;
}

.smallTitles {
    color: #f6fcff;
    font-family: sans-serif;
    font-size: 25px;
}

.block {
    background-color: rgba(28, 28, 26, 0.7);
    border: 1px solid white;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 8%;
}

.content {
    color: #faebd7;
    font-size: 20px;
    list-style-type: none;
    margin-left: -35px;
}

.lists {
    margin-top: 12px;
}

.lastBlock {
    margin-top: -18px;
    margin-bottom: -35px;
}